<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="{{ STATIC_URL }}css/dg_style.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        
      {% block extra_head %}
      {% endblock extra_head %}
    </head class='base'>

    {# if there is a course location, init function #}
    <body {% if course and course.lat and course.lon %}onload="init(){% endif %}">


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
            <li><a href="/accounts/logout/">Sign Out</a></li>
            {% else %}
            <li><a href="/accounts/login/">Sign In</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="main-content" class="container">

      {% block content %}
      {% endblock content %}

    </div><!-- end container -->

      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
