h3 {
    margin-bottom: 40px;
}

/* divs */
#top-menu {
    height: 30px;
    background: #1d1d1d;
    color: #efefef;
    padding-top: 7px;
    margin-bottom: 30px;
}
#score_form, #course_data {
}
#course_data {
    background: white;
    border: 0px solid #efefef;
    border-bottom: 2px solid #efefef;
}
#score_chart {
    margin-top: 50px;
}
#content-wrapper {
    padding: 0px;
    margin: 0px;
    width: 940px;
}
#main-content {
    margin-top: 80px;
}

/* classes */
.course-box {
    background: #efefef;
    border: 1px solid white;
    padding: 8px;
}
.clearing {
    clear:both;
}

/* links */
#top-menu a {
    color: #D4D4D4;
    text-decoration: none;
    padding: 5px 10px;
}
#top-menu a:hover {
    color: white;
}

/* map */
#map_canvas {
    width: 100%;
    height: 100%;
    z-index: -10;
}
#map {
    width: 100%;
    height: 450px;
    margin-left: 0px;
}


/* forms */
#created {
    position: relative; z-index: 100000;
}
input[type="text"],
input[type="password"],
select {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
select {
    width: 230px;
}


/* tables */
table {
    width: 100%;
}
th {
    background: #1d1d1d;
}
th strong {
    color: white;
}
th, td {
   border: 1px solid #efefef;
}
tr.odd {
    background: #efefef;
}
tr td:first-child {
    font-weight: bold;
}




.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
